<section class="col-8 mx-auto m-2 border border-secondary p-3">
    <h4>Custom Attribute Directives Demo</h4>

    <p appHighlight> This para is to demonstrate a custom directive. </p>
    <p appHighlight="#000000"> This para is to demonstrate a custom directive. </p>
    <p [appHighlight]="{bgColor:'#000000',fgColor:'#ffffff'}"> This para is to demonstrate a custom directive. </p>

    <h4>Friends (Structural Directives Demo)</h4>

    <ng-container *ngIf="!friends || friends.length===0 then msgBox; else friendsList">
    </ng-container>

    <ng-template #msgBox>
        <p>
            No Friends To Display
        </p>
    </ng-template>    
    
    <ng-template #friendsList>
        <ol>
            <li *ngFor="let f of friends; index as i">
                {{f}} <button type="button" (click)="remove(i)">DELETE</button>
            </li>
        </ol>    
    </ng-template>

    <form (ngSubmit)="add()">
        <label>Friend Name: <input type="text" name="tb1" [(ngModel)]="friendName" /></label>
        <button>ADD</button>
    </form>
</section>
