/* You can add global styles to this file, and also import other style files */

body{
    margin: 0px;
    padding: 0px;
    background-color: #accaac;
}

.card{
    width: 90%;
    margin: 8px auto;
    padding: 10px;
    background-color: #ffffff;
}

.card>h4{
    border-bottom: 1px solid #000000;
}